
<H1>Expanded Framework</H1>

<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		.video-container {
			position:relative;
			padding-bottom:56.25%;
			padding-top:30px;
			height:0;
			overflow:hidden;
		}

		.video-container iframe, embed {
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
		}
	}
</style>
</head>
<body>

	<div class="video-container"><iframe src="http://www.youtube.com/v/Vft2ZnZiMBw"></iframe> 
	</div>


	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingOne">
				<h4 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
						Expanded Framework Video Written Transcript
					</a>
				</h4>
			</div>
			<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
				<div class="panel-body">

					<p>Now we will begin with the next example of the overall visual framework, the expanded visual framework. The expandable image, to the right or below is what we will be using to explain the steps of the overall framework. </p>
					<p>The framework starts literally with the start circle. At this point, hopefully you have a good place with even light, a pencil or other writing utensil, some paper, or any method of drawing or sketching out a preliminary idea for your work. This preliminary idea uses some information found in the Site Analysis, Pre-Design, and Schematic Design areas of the framework. For more explanation on these you can use the navigation bar and see these pages as well under design thinking.</p>
					<p>By using the prinicples found in Site Analysis, Pre-Design and Schematic Design, we can begin to check the design of the vegetated assembly. This is done in two methods, via the general design framework, below and to the left on the image and through simultaneous data analysis which is below and to the right on the image. Incidentally, if you do not want to use either, you can end using the visual framework here. Though this is not recommended.</p>
					<p>We will start with the design framework. This framework is an iterative process. This means that you can run through the process a number of times to generate different ideas that you can then choose from. Each of the steps starting with ideation though iteration and thier evaluation can be found in the design-thinking protion of the website. </p>
					<p>The data analysis protion of the framework expands further as we have now applied plant biology to architecture in reference to our chosen topic: color theory. Like the design portion of the framework, each portion of the data analysis is found in different parts of the website in further detial both written and in other visual frameworks. Please remember that these considerations shown are not hte only ones that you can engage as a designer, and the framework can be adjusted as you see fit. The considerations here are basic ones in reference to plant biology and color thoery in architecture.Architecture shows up here as representation, and design tactics as well as structure and performance, though it is not limited to these in the discipline. </p>
					<p>It is highly recommended that you work on design project with others to get feedback and have multiple perspectives on the same design questions. This is termed the studio method, and includes many other concpets that we will go into further detail on its associated page. After a number of iterations are considered with the studio method and choosing by advantages (which is a method of choosing iterations or combining them based on positive attributes) the iteration can be designed and rperesented using standard architectural drawings such as plans, sections, elevations, perspectives, among others.</p>
					<p>You can use this image to organize you movement through the framework, as well as the annotated version which can be found in the introduction in the navigation bar. Remember that design is a process that is supposed to be engaging and fun. If you have questions feel free to contact us at livingwalldesigner@vt.edu</p>
					<p>Have fun designing!</p>
				</div>
			</div>
		</div>

	</div>

</body>
</html>