<H1>Table of Contents</H1>

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
.video-container {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
}

.video-container iframe, embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
}
</style>
</head>
<body>

<div class="video-container"><iframe src="http://www.youtube.com/v/Vft2ZnZiMBw"></iframe> 
</div>


<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Table of Contents Video Written Transcript
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
      
      <p>The purpose of this video is to briefly explain the use of the table of contents and to then introduce some of the definitions of each of the areas of the site and their subtopics. We will also quickly explain how each relates to each other within each topic. The inter-relations between each of the larger topics will come later.</p>
      <p>The table of contents has each of the topics and their appendix numbers as explained before due to the evolution of the framework. The visual table of contents is availible in the subtopic pages of the table contents in the navigation bar.</p>
      <P>Starting into the explanation of each of the topics and subtopics is: main areas. Right now we are looking at the visual table of contents. Following this are the condensed and expanded frameworks. These are overviews of the framework and show the relationships between all of the topics on the site. Color theory introuces hue, saturation, value, composition, and graphics. Plant Biology looks at plant species, thier charactersitics and nativeness. Design Tactics (Techniques) are the methods we use to design and design tactics 2 are the methods relating specifically to vegetated assemblies.</P>
      <p>See the other definitions below for an introduction to each.</p>
      <p>This concludes the table of contents portion. Below are some windows with additional information on each of the areas that were introduced during the video.</p>
      <p>This is Ken, thanks for listening.</p> 

      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Definitions: Main Areas 
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <p>INTRODUCTION</p>
<p>Visual table of contents</p>
<p>Condensed Framework</p>
<p>Expended Framework</p>
<p>Color theory basics</p>
<p>Plant Biology basics</p>
<p>Design tactics </p>
<p>Design tactics 2</p>

      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Definitions: Color Theory 
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <p>Color Theory</p>
<p>Hue decision factors</p>
<p>Color mixture/composition</p>
<p>Saturation</p>
<p>Value</p>
<p>Graphics</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Definitions: Plant Biology
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        <p>Plant Biology</p>
<p>Plant Species</p>
<p>Native vs Non-native</p>
<p>Climbing Mechanism</p>
<p>Royal Horticulture Society</p>
<p>Diagram plant color annually</p>
<p>Multiple speices color diagram</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Definitions: Drawing Techniques
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">
        <p>Drawing Techniques</p>
<p>Hand techniques descriptions</p>
<p>Hand techniques examples</p>
<p>Computer assisted description</p>
<p>Computer assisted examples</p>
<p>Computer Assisted Programs</p>
<p>Representation in Architecture</p>
<p>Design Criterion / Prompts</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSix">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          Definitions: Building Aspects
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
      <div class="panel-body">
       <p>Building Aspects</p>
<p>Masonry material consideration</p>
<p>Masonry examples</p>
<p>Other materials considerations</p>
<p>Other material examples</p>
<p>Decoration uses</p>
<p>Performance uses</p>

      </div>
    </div>
  </div>
</div>

      
</div>

</body>
</html>