<div class="container">
	<div class="row">
		<div class="col-md-offset-1 col-md-3">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Settings</h3>
				</div>
				<table class="table table-hover">
					<tbody>
						<tr ng-repeat="sts in settings">
							<td ng-click="changeEdit(sts)">{{sts.title}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-7">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">{{currentEdit['detail-title']}}</h3>
				</div>
				<div class="panel-body">
					<div ng-include="currentEdit.url"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<link rel="stylesheet" href="users/styles/users.client.settings.css">