<H1>Home</H1>

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
.video-container {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
}

.video-container iframe, embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

</style>
</head>
<body>

<div class="row">
<!-- You can change col-md-6 to col-md-5 or something else, but no larger than 12,
	the size of this div will be calculated using 6/12 = 50%
	if you use col-md-5, then that will be 5/12 = 41.67%
 -->
	<div class="col-md-6">
		
<div class="video-container"><iframe src="http://www.youtube.com/v/Vft2ZnZiMBw?autoplay=0"></iframe> 
</div>


<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          The Living Wall Designer
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
      
     <p>Welcome to the home page for the Living Wall Designer!</p>
     <p>It is great to have you here!</p>
     <p>If you have not already, register with the site so we can get a feel for what types of students or professionals are using the site and can then better respond with new content.</p>
     <p>This project is the product of a collaboration between Architecture and Computer Science at Virginia Tech. The project was started in the spirit of introducing others to the design of vegetated assemblies in various aspects. Currently the project has considered vegetated assemblies in relation to design tactics, plant biology and color theory, with some concentration in structure. In the future we hope to have other areas included so that students and other who are interested can learn more.</p>
     <p>Designing these assemblies is a combination of not only the desire to implment an idea, but also how we combine this idea with our previous experiences. These experiences then inform how we engage our discipline, in this case architecture.</p>
     <p>This introduction started out as a series of paper appendices that then we slowly transformed into the online framework. The original pages will be located on the pages according to topic. These topics can be found on the navigation bar ot the left. We suggest that you start with "Beginning the Framework" and then the "Table of Contents" so you can see what is availible, and then perhaps have a quick review and overview of the complete framework in "Visual Framework" so that you can see the overall structure of both the general design method and the data analysis portions of the process. After this you can bounce around through the different topical areas such as "Color Theory", "Plant Biology", and "Building Aspects".</p>
     <p>The window below this video can be opened and closed by clicking on the text. The transcript one will always be opened so you can follow along in the text too while the video is playing. While this page only has one topical area, other pages have a few, so be sure not to miss any as you move through the site.</p>
     <p>Once again we hope that you find the framework helpful. If you have questions or would like to see us develop different protions of the framework, please see the "Contact" page and you can get in contact with us.</p> 
     <p>We hope to hear from you and let us know how we can help.</p> 
     
      </div>
    </div>
  </div>
      
</div>

	</div>


	<div class="col-md-6">
		<!--This is the right hand side!
		 You can change col-md-6 to col-md-5 or something else, but no larger than 12,
	the size of this div will be calculated using 6/12 = 50%
	if you use col-md-5, then that will be 5/12 = 41.67%
 -->
	</div>
</div>

</div>

</body>
</html>