<div class="jumbotron">
	<h1>Welcome to Living Wall Designer</h1>
	<p>Hello! <br>
	This site was developed by students with the intent to help introduce others to the design possibilities of vegetated architecture. <br> 
	If you need assistance or have something to contribute feel free to contact us at: livingwalldesigner@vt.edu <br>
	Have fun and see what interests you about these topics! <br>
	-livingwalldesigner dev team
	</p>
</div>

<div class="jumbotron">
	<h1>What's new?</h1>
	<p>News1</p>
	<p>News2</p>
	<p>News3</p>
</div>