
<ul ng-controller="NavCtrl" class="nav nav-stacked fixed" data-spy="affix" data-offset-top="205" id="sidebar">
	<li ng-repeat="topic in topics">
		<a ng-class="{active: isActive(topic), expanded: topic.isExpanded}" ng-click="expandTopic(topic);activeTopic(topic)">{{topic.topicName}}
			<span ng-if="hasSub(topic)">
				<span class="glyphicon" ng-class="{'glyphicon-plus': !topic.isExpanded, 'glyphicon-minus': topic.isExpanded}"></span>
			</span>
		</a>
		<div collapse="!topic.isExpanded">
			<ul class="nav nav-stacked">
				<li ng-repeat="sub in topic.subTopicNames">
					<a ng-class="{active: isActive(sub)}" ng-click="activeSub(sub)">{{sub.name}}</a>
				</li>
			</ul>
		</div>
	</li>
</ul>