<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()"><span>&times;</span></button>
	<h4 class="modal-title">{{modalTitle}}</h4>
</div>
<div class="modal-body">
	<form class="form-horizontal" ng-show="isSignIn">
		<div class="form-group" ng-show="errorMessage != ''">
			<input type="text" class="form-control" name="Error" id="Error" readonly ng-model="errorMessage">
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-8">
				<input type="text" class="form-control" id="username" placeholder="Username" required ng-model="login.username">
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-8">
				<!-- Don't use value here because ng-model will do the binding, but value doesn't -->
				<input type="password" class="form-control" id="password" placeholder="Password" required ng-model="login.password">
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-8">
				<button type="button" class="btn btn-success col-md-12" id="sign-in-btn" ng-click="signIn()">Sign In</button>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-offset-2 col-md-3">
				<input type="checkbox" name="remember-me-checkbox" ng-model="rememberMe"> Remember Me
			</label>
			<div class="col-md-offset-2 col-md-3">
				<a href="" ng-click="changeToSignUp()">Create an account</a>
			</div>
		</div>
	</form>

	<form class="form-horizontal" ng-show="!isSignIn">
		<div class="form-group" ng-show="errorMessage != ''">
			<input type="text" class="form-control" name="Error" id="Error" readonly ng-model="errorMessage">
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-8">
				<input type="text" class="form-control" id="reg-username" placeholder="Username" required ng-model="reg.username">
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-8">
				<!-- Don't use value here because ng-model will do the binding, but value doesn't -->
				<input type="password" class="form-control" id="reg-password" placeholder="Password" required ng-model="reg.password">
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-8">
				<input type="email" class="form-control" id="reg-email" placeholder="Email" required ng-model="reg.email">
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-8">
				<input type="text" class="form-control" id="reg-first-name" placeholder="First name" required ng-model="reg.firstName">
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-8">
				<input type="text" class="form-control" id="reg-last-name" placeholder="Last name" required ng-model="reg.lastName">
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-8">
				<input type="text" class="form-control" id="reg-occupation" placeholder="Occupation" required ng-model="reg.occupation">
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-8">
				<button type="button" class="btn btn-success col-md-12" id="sign-in-btn" ng-click="signUp()">Sign Up</button>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-6 col-md-4">
				<a href="" ng-click="changeToSignIn()">Already have an account?</a>
			</div>
		</div>
	</form>

</div>