.fixed {
    z-index: 1;
    width: 270px;
    max-width: 270px;
    position: fixed;
    background-color: black;
}

.main-navbar>div>ul {
    overflow: auto;
    height: 100%;
}

.main-navbar>div>ul {
    padding-top: 60px;
    /*padding-bottom: 60px;*/
    padding-left: 20px;

    /*margin-top: 50px;*/
}

.main-navbar .nav>li>a {
    color: #9d9d9d;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
}

.main-navbar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
}

.main-navbar .nav>li>.active {
    color: #A2985F;
}

.main-navbar .nav>li>a {
    /*add transparent border*/
    border-left: 2px solid transparent;
}

/* active & hover links */
.main-navbar .nav>li>.active,
.main-navbar .nav>li:hover>a,
.main-navbar .nav>li:focus>a {
    color: #A2985F;
    text-decoration: none;
    background-color: transparent;
    border-left: 2px solid #A2985F;
}

.main-navbar .nav>li:hover {
    cursor: pointer;
}

/* expanded links */
.main-navbar .nav>li>.expanded {
    border-bottom: 2px solid #A2985F;
}

/* all active links */
.main-navbar .nav>li>.active {
    font-weight: 700;
}

/* nested active links */
.main-navbar .nav .nav>li>.active {
    font-weight: 500;
}

/* hide the nav bar when screen size is smaller than a certain size
   need to change it later
 */
@media screen and (max-width: 500px) {
    .main-navbar {
        display: none;
    }
    #main-content {
        margin-top: 60px;
        padding-left: 15px;
        padding-right: 15px;
    }
}