<div class="register-box">
  <div class="register-box-body">
    <p class="login-box-msg">
      <span ng-if="formType !== 'login'">Register</span>
      <span ng-if="formType === 'login'">Login</span> for Living Wall Consultant
    </p>
    <form method="post" ng-submit="auth(then)">
      <div class="form-group has-feedback" ng-if="formType !== 'login'">
        <input ng-model="userInfo.fullname" type="text" class="form-control" placeholder="Full name"/>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input ng-model="userInfo.email" type="email" class="form-control" placeholder="Email"/>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input ng-model="userInfo.pw" type="password" class="form-control" placeholder="Password"/>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback" ng-if="formType !== 'login'">
        <input ng-model="userInfo.pwconfirm" type="password" class="form-control" placeholder="Retype password"/>
        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <button type="submit" ng-disabled="!isValid()" class="btn btn-primary btn-block btn-flat"><span ng-if="formType !== 'login'">Register</span><span ng-if="formType === 'login'">Login</span></button>
        </div><!-- /.col -->
        <div class="col-xs-8">
          <span ng-if="!isValid()" class="text-danger">You must include all fields.</span>
        </div>
      </div>
    </form>        

    <div class="social-auth-links text-center">
      <p>- OR -</p>
      <button class="btn btn-block btn-social btn-facebook btn-flat" ng-click="fbLogin()"><i class="fa fa-facebook"></i><span ng-if="formType !== 'login'">Sign up</span><span ng-if="formType === 'login'">Login</span> using Facebook</button>
      <!-- <button class="btn btn-block btn-social btn-twitter btn-flat"><i class="fa fa-twitter"></i> Sign up using Twitter</button> -->
    </div>

    <a href="#/login" class="text-center" ng-if="formType !== 'login'">I already have a membership</a>
    <a href="#/register" class="text-center" ng-if="formType === 'login'">I need to sign up!</a>
  </div><!-- /.form-box -->

<!-- /.register-box -->  
</div>